<% @shot.comments.reject{|e| e.new_record?}.each do |comment| %>
  <div class="box" id="comment<%=comment.id%>">
    <article class="media">
      <figure class="media-left">
        <p class="image is-48x48 user-thumb">
          <%= gravatar_image_tag(comment.user.email.gsub('spam', 'mdeering'), alt: comment.user.name, gravatar: { size: 48 }) %>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><%= comment.user.name %></strong>
            
          </p>
        </div>
      </div>

      <% if (user_signed_in? && (current_user.id == comment.user_id)) %>
         <%= link_to t('shots.delete'), [@shot, comment],
                    method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
      <% end %>
      
    </article>
    <div><%= comment.response %></div>
    <div class="p-b-md">
      <%= link_to new_shot_comment_report_path(@shot, comment), title: t('shots.report') , class: "is-pulled-right " do %>
        <p><i class="fa fa-bullhorn"></i></p>
      <% end %>
    </div>
  </div>
<%end%>


