<% if flash[:notice] %>
  <div class="notification is-primary global-notification">
    <p class="notice"><%= notice %></p>
  </div>
<% end %>
<% if flash[:alert] %>
<div class="notification is-danger global-notification">
  <p class="alert"><%= alert %></p>
</div>
<% end %>
<nav class="navbar is-dark">
  <div class="navbar-brand">
    <%= link_to root_path, class:"navbar-item" do %>
      <h1 class="title is-5 has-text-white">Dribbble Clone</h1>
    <% end  %>
    <div class="navbar-burger burger" data-target="navMenuColordark-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenuColordark-example" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to t('nav.shots'), root_path , class:"navbar-item" %>
      <%= link_to t('nav.designers'), designers_path , class:"navbar-item" %>
      <%= render 'shared/search'%>
    </div>

    <div class="navbar-end">
        <div class="navbar-brand">

          <%= link_to 'Рус', {locale: :ru}, class:"navbar-item #{'is-active' if I18n.locale == :ru} " %>
          <%= link_to 'Eng', {locale: :en}, class:"navbar-item #{'is-active' if I18n.locale == :en} " %>
            <% if user_signed_in? %>
              <% unless current_user.designer.blank?%>
                <% if  current_user.designer.persisted?%>
                
                  <%= link_to new_shot_path, title: t('nav.load_shot'), class:"navbar-item" do%>
                    <span class="icon "><i class="fa fa-cloud-upload fa-lg"></i></span>
                  <% end %>

                  <%= link_to designer_path(current_user.designer),title: t('nav.profile'), class:"navbar-item" do%>
                    <span class="icon "><i class="fa fa-user fa-lg"></i></span>
                  <% end %>
                  <%= link_to notifications_path(current_user.designer),title: t('nav.notifications'), class:"navbar-item" do%>
                    <span class="icon "><i class="fa fa-bell fa-lg"></i></span>
                    <%= notification_present? current_user%>
                  <% end %>
                <% end %>  
              <%else%> 
              <div class="navbar-item">
                <p class="control">
                  <%= link_to new_designer_path, class:"button is-primary "  do%>
                    <span class="icon "><i class="fa fa-upload fa-lg"></i></span>
                    <span><%= t('nav.create_designer') %></span>
                  <% end %>
                </p>
              </div>
              <% end %>

              
              <%#= link_to current_user.name, edit_user_registration_path, class:"navbar-item" %>
              <%= link_to  destroy_user_session_path,title: t('nav.sign_out'), method: :delete, class:"navbar-item"  do %>
              <span class="icon "><i class="fa fa-sign-out fa-lg"></i></span>
              
              <%end%>
          <% else %>
            <%= link_to t('nav.sign_in'), new_user_session_path, class:"navbar-item" %>
            <%= link_to t('nav.sign_up'), new_user_registration_path, class:"navbar-item"%>
          <% end %>
          </div>
    </div>
  </div>
</nav>

