<section class="section">
  <%= simple_form_for @designer, html: { multipart: true }  do |f| %>
    <%= f.error_notification %>
    <div class="columns is-centered" id="app-6">
      <div class="column is-half">
      <div class="field">
        <div class="control">
          <%= f.input :name, label: "Name", input_html: { class: "input", id: 'name'}, wrapper: false, label_html: { class: "label"} %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.input :description, input_html: { class: "textarea", id: 'description'}, wrapper: false, label_html: { class: "label" } %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.input :all_skills, input_html: { class: "input", id: 'skills'}, wrapper: false, label_html: { class: "label" } %>
        </div>
      </div>
      <div class="columns">
        <div class="column is-6">
          <div class="field">
            <div class="control">
              <%= f.input :twitter_link, label: "Twitter link", input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :facebook_link, label: "Facebook link", input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <div class="field">
            <div class="control">
              <%= f.input :instagram_link, label: "Instagram link", input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= f.input :city, label: "city", input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.input :phone, label: "phone", input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.button :submit, class:"button is-primary" %>
        </div>
      </div>
    </div>
    <div class="column is-3">
         <div class="profile-container" id="profile-container">
            <div class="shot-full">
              <%= gravatar_image_tag(current_user.email.gsub('spam', 'mdeering'),class: "rounded" ,gravatar: { size: 120 }); %>
              </div>
              <div class="shot-full">
                <div class="user-name">
                  <span id="show-name"><%=@designer.name%></span>
                </div>
                <div class="designer-city">Tel aviv</div>
              </div>
            <div>
               
            <hr>
            <h3>DESCRIPTION</h3>
            <div class="designer-description">
              <span id="show-description"><%=@designer.description%></span>
            </div>
            </div>
            <hr>
            <h3>SKILLS</h3>
            <div class="designer-description">
              <div class="tags" id="show-skills">
              <%=raw @designer.skills.map(&:name).map{|skill| link_to "<span class='tag  is-size-7'>#{skill}</span>".html_safe, skill_path(skill)}.join(' ')%>
              </div>
            </div>
          </div>
      </div>
    </div>
  <% end %>
</section>